<div class="container">
	<div class="blogArticleContent">
         清高？抵得上一份工作吗？能让你吃好、喝好、住好吗？不要以为端盘子洗碗、站超市、打扫卫生天生就不是你干的事，不要以为你天生就是拯救世界的料儿，日子是过出来的，不是想出来的。

　　20岁上下，该现实点了，放下清高的架子，折断幻想的翅膀，才会走的更精彩！

　　20岁上下，一个充满理想却过于富于幻想的年龄。成功是经历了比别人更多的努力、付出、毅力、痛苦与艰辛后得到的，不是能幻想出来的。即使天上有掉陷饼的事也不会砸到整天幻想的人。

　　20岁上下，一个涉世不深却自谓看透一切的年龄。我们常常讽刺社会的肮脏、丑陋、腐败，自以为很纯洁，就浅薄的说出活在这样的世界很无奈的话。热爱生命，不要只是处在大学的象塔中才说出这样的话，在当我们经历了社会的各种不纯洁时也要能说出这样的话。

　　20岁上下，在大学中你看到的连社会中的一个角都抵不上。要想真正的看透人生，等你闭眼的那一刻才是看透了，好好活着才有看破红尘的一天。

　　20岁上下，一个美好却又短暂的年龄。这个时期是你精力最充沛、心灵最美好的季节，不要把它浪费在赚人眼泪的偶像剧中，你永远不会成为其中的女主角，不要梦想着一见钟情的遇到你的白马王子，这样的可能性比地球明天就灭亡的可能性还小,有时间
	</div>
	<div class="blogArticleAside">
         Test
	</div>
</div>
